<div class="mycontainer">
    <section class="row main-title">
            <h4 class="text-left">[RER B]</h4>
            <h1 class="text-center">Bagneux</h1>
    </section>
    <section class="row">
        <div class="col-xs-6 border-right">
            <div class="row item">
                <h3 class="col-xs-6 destination" >Robinson</h3>
                <h4 class="col-xs-6 time" >3min</h4>
            </div>
            <div class="row item">
                <h3 class="col-xs-6 destination" >Robinson</h3>
                <h4 class="col-xs-6 time" >3min</h4>
            </div>        </div>

        <div class="col-xs-6">
            <div class="row item">
                <h3 class="col-xs-6 destination" >Robinson</h3>
                <h4 class="col-xs-6 time" >3min</h4>
            </div>
        </div>
    </section>
</div>
