/* You can add global styles to this file, and also import other style files */

h1, h2, h3, h4, h5, label {
    color: #FFFFFF;
}

.mycontainer {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    background-color: #5B4A74;
}

.container-title {
    margin-bottom: 20px;
}

.inline {
    display: inline;
}

.icon-transport {
    margin-top: 20px;
    margin-bottom: 10px;
    /*margin-left: 40px;*/
}

.border-right {
    border-right: 1px solid #000000;
}

.item {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 45px;
}

.item-color1 {
    background-color: #FFB740;
}
.item-color2 {
    background-color: #FFCA73;
}

.end_page {
    background-color: #FFCA73;
    background-size: 100px 100px;
    background-repeat: no-repeat;
}
.destination {
    text-align: left;

}

.time {
    text-align: right;
    margin: 0px;
    padding: 0px;

    padding-right: 30px;
}
