/* You can add global styles to this file, and also import other style files */

h1, h2, h3, h4, h5, label {
    color: #FFFFFF;
}

.mycontainer {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #213A4A;
}

.absolute {
    position: absolute;
}

.inline {
    display: inline;
}

.icon-transport {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 40px;
}

.border-right {
    border-right: 1px solid #000000;
}

.item {
    background-color: #203242;
    display:flex;
    align-items: center;
    justify-content: center;
}

.destination {
    text-align: center;
    height: 30px;
    margin: 0px;
    padding: 0px;
}

.time {
    text-align: right;
    margin: 0px;
    padding: 0px;

    padding-right: 30px;
}
